.hero {
  background-color: #0040C1;
}


@media only screen and (min-width : 992px) {
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#0040C1, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  
  &:nth-child(2n) {
    border-color: lighten(#0040C1, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }

  &:nth-child(5) {
    animation-delay: 5s;
    left: 15vw;
    top: 150vh;
  }

  &:nth-child(6) {
    animation-delay: 2.5s;
    left: 35vw;
    top: 120vh;
  }

  &:nth-child(7) {
    animation-delay: 5s;
    left: 90vw;
    top: 175vh;
  }

  &:nth-child(8) {
    animation-delay: 4s;
    left: 80vw;
    top: 105vh;
  }

  &:nth-child(9) {
    animation-delay: 3s;
    left: 20vw;
    top: 270vh;
  }

  &:nth-child(10) {
    animation-delay: 5s;
    left: 40vw;
    top: 215vh;
  }

  &:nth-child(11) {
    animation-delay: 4s;
    left: 85vw;
    top: 260vh;
  }

  &:nth-child(12) {
    animation-delay: 6s;
    left: 87vw;
    top: 350vh;
  }

  &:nth-child(13) {
    animation-delay: 3s;
    left: 72vw;
    top: 325vh;
  }

  &:nth-child(14) {
    animation-delay: 4s;
    left: 67vw;
    top: 390vh;
  }

  &:nth-child(15) {
    animation-delay: 5s;
    left: 24vw;
    top: 370vh;
  }

  &:nth-child(16) {
    animation-delay: 6s;
    left: 40vw;
    top: 450vh;
  }

  &:nth-child(17) {
    animation-delay: 2s;
    left: 30vw;
    top: 510vh;
  }

  &:nth-child(18) {
    animation-delay: 9s;
    left: 75vw;
    top: 455vh;
  }

  &:nth-child(19) {
    animation-delay: 4s;
    left: 86vw;
    top: 500vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}
}